




.introduction
{
    margin-left: 50px;
height: 230px;
width: 100%;
border-radius: 10px;
  line-height: 35px;

}
.courses{
height: 380px;
width: 100px;
background-color:rgb(213, 223, 235);
border-radius: 10px;
border: 3px solid black;
}

.banner{
    text-align: center;
    font-size: larger;
    border-radius: 21px;
    justify-content: center;
    justify-items: center;
    
}
.sb{
display: flex;
margin-top: 20px;

}
.footer{
    height: 200px;
    width: 101%;
    display: flex;

}
.background
{
  margin: 0;
  min-height: 100vh;
  background-image: url("2 background.png");
  background-size: cover;        /* fills the screen */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* stays while scrolling */
}


.offer{
  margin: 0;
  min-height: 100vh;
  background-image: url("2 background.png");
  background-size: cover;        /* fills the screen */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* stays while scrolling */
}








/* Only affects login page body and login box */
 .bodyoflogin{
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;   /* center horizontally */
    align-items: center;       /* center vertically */
    background-color: #111;    /* optional, only for login page */
}

/* Your login box styling (unchanged) */
.login-container {
    padding: 40px;
    width: 350px;
    height: 400px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.7);
}

/* Heading */
.login-container h2 {
    color: #e46c17;
    margin-bottom: 10px;
}

/* Paragraph text */
.login-container p {
    color: #ccc;
    margin-bottom: 25px;
}

/* Input fields */
.login-container input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 14px;
}

/* Button */
.login-container button {
    width: 100%;
    padding: 12px;
    background: #ffa500;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.login-container button:hover {
    background: #5900ff;
}

/* Links inside login box */
.links {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.links a {
    color: #eeeefb;
    text-decoration: none;
    font-size: 13px;
}

.links a:hover {
    color: #5100ff;
}

.contact-form {
    max-width: 500px;
    margin :0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    width: 100%;
}

.contact-form button {
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #ffa500;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #e46c17;
}









